@charset "UTF-8";

body {
    background-color: rgb(59, 59, 236);
}


header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 550px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}

div#linha-1 {
    margin: 10px;
    padding-bottom: 5px;
}

/*
select#listatxt {
    width: 130px;
    height: 200px;
}
*/

footer {
    color: white;
    text-align: center;
    font-style: italic;
}