@charset "UTF-8";

#botao {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

#bis {
    display: inline;
    color: rgb(0, 83, 0);
    background-color: rgba(0, 128, 0, 0.442);
    font-weight: bolder;
}

#n_bis {
    display: inline;
    color: rgb(166, 0, 0);
    background-color: rgba(255, 0, 0, 0.466);
    font-weight: bolder;
}